.wrapper{
    background-color: #374151 !important;
    border: none !important; 
    padding: 0 !important;
}

#tagsOfWiki{
    background-color: #374151 !important;

}

.input-container{
    background-color: #374151 !important;
}

.body{
    background-color: #374151 !important;
}